[submodule "addons/godot_ui_utilities_gdscript"]
	path = addons/godot_ui_utilities_gdscript
	url = git@github.com:ALP-Games/godot_ui_utilities_gdscript.git
[submodule "addons/godot_extension_core_gdscript"]
	path = addons/godot_extension_core_gdscript
	url = git@github.com:ALP-Games/godot_extension_core_gdscript.git
